@font-face {
	font-family: 'Gilroy-Regular';
	src: url('fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}


@font-face {
	font-family: 'Gilroy-Medium';
	src: url('fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}



.main{
    width: 1920px;
    height: 1043px;
    background-image: url(img/main.png);
    color: white;


}

.main_2{
    font-family: 'Gilroy-Medium';
    display: flex;
    padding-top: 70px;
}    

.language{
font-family: 'Gilroy-Medium';
display: flex;

}
.main p{
    cursor: pointer;
}


.punkt{
    font-family: 'Gilroy-Medium';
    display: flex;
    gap: 70px;
    margin-left: 240px;
    margin-right: 55%;
    cursor: pointer;
}

.punkt :hover{
    color: #EE98D0;
}

.en{
    color: #EE98D0;
}


h1{
    font-family: 'Gilroy-Bold';
    font-size: 96px;
    padding-top: 376px;
    margin-left: 240px;
}

.button_buy{
  margin-left: 240px;
  display: flex;
  gap: 59px;
    
}

.button_buy_2{
    width: 218px;
    height: 62px;
    border-radius: 30px;
    background-color: white;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
}

.button_download_demo{
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    width: 218px;
    height: 62px;
    border-radius: 30px;
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0) ;
    color: white;
}

h2{
font-family: 'Gilroy-Bold';
font-size: 64px;
color: #EE98D0;
padding-top: 200px;
justify-content: center;
display: flex;
margin: 0px;
}

.text_1{
font-family: 'Gilroy-Medium';
color: white;
font-size: 36px;
display: flex;
justify-content: center;
margin-top: 70px;
}

.text_2{
font-family: 'Gilroy-Medium';
color: white;
font-size: 20px;
display: flex;
justify-content: center;
margin-top: -70px;
margin-left: 330px;
text-align: justify;
}

.about_game_1 {
display: flex;
justify-content: center;
}
.about_game_1 img{
margin-top: 20px;
}


.plashki{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.plashka_1{
    border-radius: 30px;
    border: #EE98D0 solid 2px;
    width: 493px;
    height: 643px;
    margin-top: 70px;
    padding-left: 28px;
    padding-top: 40px;
}



.zagalovok{
 font-family: 'Gilroy-Bold';
 color: white;
 font-size: 64px;
 margin: 0%;
}

.text_3{
   font-family: 'Gilroy-Medium';
   font-size: 16px;
   color: white;
   padding-top: 360px; 
}
.text_4{
   font-family: 'Gilroy-Medium';
   font-size: 16px;
   color: white;
   padding-top: 436px; 
}


.stroka_1{
    width: 100%;
    gap: 60px;
    display: flex;
}


.first_stroka{
    display: flex;
    gap: 60px;
    margin-top: 70px;
}

.second_stroka{
    display: flex;
    gap: 60px;
    margin-top: 50px;
}




.System{
    display: flex;
    justify-content: center;
    gap: 198px;
}


.System_1{
  font-family: 'Gilroy-Medium';
  font-size: 20px;
  color: white;
  margin-top: 150px;  
}

.info_zagalovok{
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    margin-bottom: 80px;

}

.footer{
    background-color: black;
    color: white;
    display: flex;
    margin-top: 200px;
    width: 1920px;
    height: 209px;
    align-items: center;

}



